.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);

    z-index: 10;
}

.modal {
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    position: relative;
}

.modal-close {
    --size: 1.25rem;

    width: var(--size);
    height: var(--size);
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #000;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: flex;
}

.modal-close::before, 
.modal-close::after {
    content: "";

    width: var(--size);
    height: 0.125rem;
    background-color: currentColor;
    border-radius: 0.125rem;

    position: absolute;
    right: 0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}