.pokemons-container {
    max-width: 1216px;
    width: 100%;
    margin: 100px auto 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));;
    

    row-gap: 150px;
    column-gap: 32px;
}

.pokemons-article {
    position: relative;
}

